body{
    background-color: #232830;
    ;
    padding: 3% 10%;
}

/* Navigation */
.nav {
    color: #fff;
    font-family: Poppins, sans-serif;
    width: 100%;
}

.nav a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0px 0px 0px 20px ;
}

.nav a:hover{
    text-decoration: underline;
}

.nav-right {
    float: right;
}

.home {
    float: left;
    font-size: 30px;
}
/* End of Navigation */

/* Header */
.logo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.profile{
    margin-top: 150px;
    width: 100%;
}
.tagline{
    margin-top: 30px;
    font-family: Recursive, sans-serif;
    font-size: 71px;
    text-align: center;
    color: #FF7575;
}
.description{
    text-align: center;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 29px;
    margin-top: 25px;
}
/* End of Header */

/* Categories */
.categories {
    display: flex;
    background: linear-gradient(270deg, #232830 0.01%, rgba(35, 40, 48, 0) 87.5%);
    margin-top: 100px;
}

.categories-icon img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
}
 
.categories-link a{
    font-family: Recursive, sans-serif;
    margin-left: 50px;
    text-decoration: none;
    font-size: 24px;
    color: #909090;
}

.categories-link a:hover{
    color: #FF7575; 
    text-decoration: underline;
}
/* End of Categories */

/* Article Listing */
.article-img img{
    border-radius: 22px;
    width: 340px;
    height: 160px;
    display: block;
}

.article-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 100px;
}

.group{
    border-radius: 22px;
    height: 440px;
    width: 360px;
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: auto 70px 150px 25px;
}

.group div{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.caption{
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.article-description{
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.group-footer{
    display: inline;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

/* End of Article Listing */

/* Pagination */
.pagination a{
    font-family: Recursive, sans-serif;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 25px;
}

.pagination a:hover{
    color: #FF7575;
    border-top: 3px solid #FF7575;
}

.pagination {
    margin-top: 125px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.number, .previous-next {
    color: #909090;
}

.number-active {
    color: #FF7575;
    border-top: 3px solid #FF7575;
}
/* End of Pagination */

/* Footer */
footer {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 250px;
}

.footer-home{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.footer-left{
    display: grid;
    grid-template-columns: 175px 175px;
}

.creator, .footer-right {
    font-family: Source Sans 3, sans-serif;
    font-size: 19px;
    background-color: #4699E0;
    padding: 2%;
    border-radius: 5px;
    font-weight: 600;
}

.creator{
    text-align: center;
}

.creator, .footer-right a {
    color: #fff;
    text-decoration: none;
}

.footer-right {
    text-align: center;
}

.footer-right img {
    margin-top: 4px;
}
/* End of Footer */